* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: auto;
  border: 1px solid rgba(128, 128, 128, 0.346);
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}
label {
  display: block;
  margin: 2% 0;
}
h1 {
  text-align: center;
  margin: 5% 0;
  text-transform: capitalize;
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.308);
  border-radius: 2px;
}

textarea {
  height: 200px;
  resize: none;
  border: 1px solid rgba(128, 128, 128, 0.308);
  padding: 0.5rem;
}

input::placeholder {
  text-transform: capitalize;
}

#btn {
  margin: 2% 0;
  padding: 0.6rem;
  text-transform: capitalize;
  border: 1px solid rgba(128, 128, 128, 0.308);
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}
